body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%)
}

.character-wrap {
 display: flex;
 justify-content: center;
 position: relative;
}

.character {
  position: absolute;
  top: 50%;
  margin-top: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-display: block;
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}


.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 685px;
  width: 200px;
  border: 1px solid gray;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}
